ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
    h1{
        color: black;  
    }
  
    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    
    img {
      
      border-radius: 5px;
     padding: 15px;
      width: 150px;
      height: 150px;
      cursor: pointer;
    }
    .top-left {
      font-family: 'Times New Roman', Times, serif;
      position: absolute;
      top: 17px;
      left: 15px;
    }
    .bottom-left {
      font-family: 'Times New Roman', Times, serif;
      color:rgb(14, 14, 14);
      position: absolute;
      bottom: 17px;
      left: 15px;
      font-size: 25px;
    }
    table {
      width: 50%;
    }
    h1 {
      text-align: center;
    }
    td {
      
      text-align: center;
    }
    .resume{
      background-color: lightgreen;
      color: black;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
    }
    .button {
       border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    #coverletter{
      background-color: lightseagreen;
      color: white;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
    }
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    #files{
      background-color: aqua;
      color: black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    
