.calculator {
    margin: 20px auto;
    width: 300px;
    border: 3px solid rgb(31, 30, 30);
    box-shadow: 3px 3px 3px rgba(34, 33, 33, 0.9);
    border-radius: 6px;
    padding: 10px;
   
  }
  
  #input {
    width: 93%;
    height: 40px;
    font-size: 24px;
    padding: 9px;
    margin-bottom: 50px;
    text-align: right;
    border: 3px solid rgb(26, 25, 25);
    box-shadow: 3px 3px 3px rgba(34, 33, 33, 0.9);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  
  button {
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background-color: #423a3a;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  button:hover {
    background-color: #f8931f;
  }
  h1
  {text-align: center;}
  