<<<<<<< HEAD
#calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px #ccc;

}

#result {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color:lightgray;
    margin-bottom: 10px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    
}

button:hover {
    background-color: #ddd;
}

button:active {
    box-shadow: 1px 1px 3px #ccc;
}
#delete {
    color: block;
    background-color: red;

}
#symbols{
    color: black;
    background-color: lightskyblue;
}
#zero{
    color: red;
}
=======


h1{text-align: center;
color:hsl(277, 52%, 32%);
text-decoration: underline;
text-transform: capitalize;
text-shadow: 2px 2px;
}

      
            p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
font-size:larger;
font-style: italic;
font-display:initial;
}

    body
    {
        background-image: url('flower.jpeg');
    
        font-size: x-large;
        line-height: 1.8;

    }

h2
{
    letter-spacing: 5px;
}
table, th, td {
    border: 1px solid black;
    
  }
>>>>>>> c91db9710c068468b45f85c6f794e57547a5453d
