
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    height: 100%; 
    width: 80%;
    background-color: white;
    margin: auto;
    
}
  body {
    font-family: sans-serif;
   
  }
  img {
    height: 60px;
    
    
    
  }
  
  .menu-bar {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  .menu-bar ul {
    list-style:none;
    display: flex;
  }
  .menu-bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  .menu-bar ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color: blue;
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .project {
    display: none;
  }
  .menu-bar ul li:hover .project {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
  }
  .menu-bar ul li:hover .project ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .project ul li {
    width: 150px;
    padding: 10px;
  }
  #banner img{
    height: 100%;
    width: 100%;
    
  }
  
h1{
    text-align: left;

}
.design{
    width: 21%;
    height: 100px;
    background-color: white;
    display:table;
    justify-content: center;
    margin:0%;
    

}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255,255,0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font: size 20px;
    color: #fff;
    cursor: pointer; 
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
   
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}