
body{
    background-color: black;
}
h1{

    color: white;
   text-align: center;
   margin-top: 250px;
   font-size: 50px;

}
p{
    
    color: white;
   text-align: center;
   font-size: 30px;

}
 
ul li {
text-align: center;
}